[Unit]
Description=gamedoora-user-services
After=syslog.target gamedoora-config-server.service

[Service]
User=gamedoora
ExecStart=/opt/gamedoora/gamedoora-user-services.jar
SuccessExitStatus=143
Environment="CONFIG_SERVER=http://localhost:8888" "LOG_PATH=/var/log/gamedoora/user_service_logs"

# Redirect standard output and standard error to the main log file.
# StandardOutput=file:/var/log/gamedoora/user_service_logs/user_services.log
# StandardError=file:/var/log/gamedoora/user_service_logs/user_services.log

# Rotate log based on days, capacity, file size, compress, etc.
# LogsDirectory=/gamedoora/user_service_logs
# RuntimeMaxUse=15M
# RuntimeMaxFileSize=10M

# Comment RunTimeMaxFileSize and Uncomment below, if instead of file size you want to switch to log size.
# RuntimeKeepFree=500M

[Install]
WantedBy=multi-user.target
